# DS250 Project

## Data Cleaning

Importing Modules

In [4]:
import pandas as pd
import numpy as np

Loading dataset

In [5]:
data = pd.read_csv('5.csv', delimiter='|')

E:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (1,12,14,16,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,80,81,82,85,88,89,98,99,105,107,109,110,111,112,113,114,115,116,117,118,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,170,173,174,177,178,185,186,193,194,195) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
data

,w_id,hl_id,client_w_id,state,district,rural,stratum_code,psu_id,house_no,house_hold_no,...,anym,respondentname,rtelephoneno,isnewrecord,recordupdatedcount,recordstatus,schedule_id,year,id,v204
0,NaN,NaN,NaN,5,13,1,2,100426933,4,1,...,NaN,NaN,NaN,NaN,1.0,2.0,2,3,1490121,NaN
1,NaN,NaN,NaN,5,13,1,2,100426778,8,1,...,NaN,NaN,NaN,NaN,1.0,2.0,2,3,1490122,NaN
2,NaN,NaN,NaN,5,13,1,2,100427331,11,1,...,NaN,NaN,NaN,NaN,1.0,2.0,2,3,1490123,NaN
3,NaN,NaN,NaN,5,13,1,2,100427695,20,1,...,NaN,NaN,NaN,NaN,1.0,2.0,2,3,1490124,NaN
4,NaN,NaN,NaN,5,13,1,2,100427501,21,1,...,NaN,NaN,NaN,NaN,1.0,2.0,2,3,1490125,NaN
5,NaN,NaN,NaN,5,13,1,2,100427418,24,1,...,NaN,NaN,NaN,NaN,1.0,2.0,2,3,1490126,NaN
6,NaN,NaN,NaN,5,13,1,2,100427550,27,1,...,NaN,NaN,NaN,NaN,1.0,2.0,2,3,1490127,NaN
7,NaN,NaN,NaN,5,13,1,2,100427551,29,1,...,NaN,NaN,NaN,NaN,1.0,2.0,2,3,1490128,NaN
8,NaN,NaN,NaN,5,13,1,2,100427389,35,1,...,NaN,NaN,NaN,NaN,1.0,2.0,2,3,1490129,NaN
9,NaN,NaN,NaN,5,13,1,2,100426992,39,1,...,NaN,NaN,NaN,NaN,1.0,2.0,2,3,1490151,NaN
10,NaN,NaN,NaN,5,13,1,2,100426993,44,1,...,NaN,NaN,NaN,NaN,1.0,2.0,2,3,1490152,NaN
11,NaN,NaN,NaN,5,13,1,2,100426779,64,1,...,NaN,NaN,NaN,NaN,1.0,2.0,2,3,1490153,NaN
12,NaN,NaN,NaN,5,13,1,2,100426997,68,1,...,NaN,NaN,NaN,NaN,1.0,2.0,2,3,1490154,NaN
13,NaN,NaN,NaN,5,13,1,2,100426934,70,1,...,NaN,NaN,NaN,NaN,1.0,2.0,2,3,1490155,NaN
14,NaN,NaN,NaN,5,13,1,2,100427050,88,2,...,NaN,NaN,NaN,NaN,1.0,2.0,2,3,1490156,NaN
15,NaN,NaN,NaN,5,13,1,2,100427329,88,2,...,NaN,NaN,NaN,NaN,1.0,2.0,2,3,1490157,NaN
16,NaN,NaN,NaN,5,13,1,2,100427468,91,1,...,NaN,NaN,NaN,NaN,1.0,2.0,2,3,1490158,NaN
17,NaN,NaN,NaN,5,13,1,2,100427658,92,1,...,NaN,NaN,NaN,NaN,1.0,2.0,2,3,1490159,NaN
18,NaN,NaN,NaN,5,13,1,2,100427699,92,1,...,NaN,NaN,NaN,1,1.0,2.0,2,3,1490160,NaN
19,NaN,NaN,NaN,5,13,1,2,100427330,96,1,...,NaN,NaN,NaN,NaN,1.0,2.0,2,3,1490161,NaN
20,NaN,NaN,NaN,5,13,1,2,100430135,94,1,...,NaN,NaN,NaN,NaN,1.0,2.0,2,3,1490204,NaN
21,NaN,NaN,NaN,5,13,1,2,100429827,95,1,...,NaN,NaN,NaN,NaN,1.0,2.0,2,3,1490205,NaN
22,NaN,NaN,NaN,5,13,1,2,100430476,96,1,...,NaN,NaN,NaN,NaN,1.0,2.0,2,3,1490206,NaN
23,NaN,NaN,NaN,5,13,1,2,100429976,97,1,...,NaN,NaN,NaN,NaN,1.0,2.0,2,3,1490207,NaN
24,NaN,NaN,NaN,5,13,1,2,100430530,98,1,...,NaN,NaN,NaN,NaN,1.0,2.0,2,3,1490208,NaN
25,NaN,NaN,NaN,5,13,1,2,100430084,99,1,...,NaN,NaN,NaN,NaN,1.0,2.0,2,3,1490209,NaN
26,NaN,NaN,NaN,5,13,1,2,100429959,100,1,...,NaN,NaN,NaN,NaN,1.0,2.0,2,3,1490210,NaN
27,NaN,NaN,NaN,5,13,1,2,100430134,100,2,...,NaN,NaN,NaN,NaN,1.0,2.0,2,3,1490211,NaN
28,NaN,NaN,NaN,5,13,1,2,100430178,100,3,...,NaN,NaN,NaN,NaN,1.0,2.0,2,3,1490212,NaN
29,NaN,NaN,NaN,5,13,1,2,100430340,100,4,...,NaN,NaN,NaN,NaN,1.0,2.0,2,3,1490213,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
941101,NaN,NaN,NaN,5,2,2,0,100513758,18,1,...,NaN,NaN,NaN,NaN,1.0,2.0,2,2,9023019,NaN
941102,NaN,NaN,NaN,5,2,2,0,100513847,18,2,...,NaN,NaN,NaN,1,1.0,2.0,2,2,9023020,NaN
941103,NaN,NaN,NaN,5,2,2,0,100513831,19,2,...,NaN,NaN,NaN,NaN,1.0,2.0,2,2,9023021,NaN
941104,NaN,NaN,NaN,5,2,2,0,100513757,22,1,...,NaN,NaN,NaN,NaN,1.0,2.0,2,2,9023022,NaN
941105,NaN,NaN,NaN,5,2,2,0,100534220,35,5,...,NaN,NaN,NaN,NaN,1.0,2.0,2,2,9023030,NaN
941106,NaN,NaN,NaN,5,2,2,0,100534372,35,5,...,NaN,NaN,NaN,NaN,1.0,2.0,2,2,9023031,NaN
941107,NaN,NaN,NaN,5,2,2,0,100534293,36,2,...,NaN,NaN,NaN,NaN,1.0,2.0,2,2,9023032,NaN
941108,NaN,NaN,NaN,5,2,2,0,100534278,39,1,...,NaN,NaN,NaN,1,1.0,2.0,2,2,9023033,NaN
941109,NaN,NaN,NaN,5,2,2,0,100534235,39,2,...,NaN,NaN,NaN,1,1.0,2.0,2,2,9023034,NaN
941110,NaN,NaN,NaN,5,2,2,0,100505165,2,1,...,NaN,NaN,NaN,NaN,1.0,2.0,2,2,9023035,NaN
941111,NaN,NaN,NaN,5,2,2,0,100524163,15,1,...,NaN,NaN,NaN,1,1.0,2.0,2,2,9023045,NaN
941112,NaN,NaN,NaN,5,2,2,0,100524248,16,1,...,NaN,NaN,NaN,NaN,1.0,2.0,2,2,9023046,NaN
941113,NaN,NaN,NaN,5,2,2,0,100524326,16,2,...,NaN,NaN,NaN,NaN,1.0,2.0,2,2,9023047,NaN
941114,NaN,NaN,NaN,5,2,2,0,100524432,16,3,...,NaN,NaN,NaN,1,1.0,2.0,2,2,9023048,NaN
941115,NaN,NaN,NaN,5,2,2,0,100524359,17,1,...,NaN,NaN,NaN,NaN,1.0,2.0,2,2,9023049,NaN
941116,NaN,NaN,NaN,5,2,2,0,100524162,17,3,...,NaN,NaN,NaN,NaN,1.0,2.0,2,2,9023050,NaN
941117,NaN,NaN,NaN,5,2,2,0,100524249,17,4,...,NaN,NaN,NaN,NaN,1.0,2.0,2,2,9023051,NaN
941118,NaN,NaN,NaN,5,2,2,0,100524250,19,1,...,NaN,NaN,NaN,NaN,1.0,2.0,2,2,9023052,NaN
941119,NaN,NaN,NaN,5,2,2,0,100524251,19,2,...,NaN,NaN,NaN,NaN,1.0,2.0,2,2,9023053,NaN
941120,NaN,NaN,NaN,5,2,2,0,100524221,19,3,...,NaN,NaN,NaN,NaN,1.0,2.0,2,2,9023054,NaN
941121,NaN,NaN,NaN,5,2,2,0,100505139,28,1,...,NaN,NaN,NaN,NaN,1.0,2.0,2,2,9023055,NaN
941122,NaN,NaN,NaN,5,2,2,0,100505289,29,1,...,NaN,NaN,NaN,1,1.0,2.0,2,2,9023056,NaN
941123,NaN,NaN,NaN,5,2,2,0,100505184,30,1,...,NaN,NaN,NaN,NaN,1.0,2.0,2,2,9023057,NaN
941124,NaN,NaN,NaN,5,2,2,0,100505273,31,3,...,NaN,NaN,NaN,1,1.0,2.0,2,2,9023058,NaN
941125,NaN,NaN,NaN,5,2,2,0,100505102,35,1,...,NaN,NaN,NaN,NaN,1.0,2.0,2,2,9023059,NaN
941126,NaN,NaN,NaN,5,2,2,0,100505198,36,1,...,NaN,NaN,NaN,NaN,1.0,2.0,2,2,9023060,NaN
941127,NaN,NaN,NaN,5,2,2,0,100505166,43,1,...,NaN,NaN,NaN,NaN,1.0,2.0,2,2,9023061,NaN
941128,NaN,NaN,NaN,5,2,2,0,100505164,44,1,...,NaN,NaN,NaN,1,1.0,2.0,2,2,9023062,NaN
941129,NaN,NaN,NaN,5,2,2,0,100505183,46,1,...,NaN,NaN,NaN,NaN,1.0,2.0,2,2,9023063,NaN
941130,NaN,NaN,NaN,5,2,2,0,100505140,51,1,...,NaN,NaN,NaN,NaN,1.0,2.0,2,2,9023064,NaN

Filtering Dataset with only completed interviesw

In [7]:
data = data[data["sex"] == 2]
data = data[data["result_of_interview"] == 1]

Name of columns to be removed

In [7]:
columns_to_be_removed = ['w_id', 'hl_id', 'client_w_id', 'state', 'psu_id', 'house_no', 'house_hold_no', 'year_of_intr', 
                         'month_of_intr', 'date_of_intr', 'fid', 'hh_id', 'client_hh_id', 'hh_serial_no', 'member_identity', 
                         'father_serial_no', 'mother_serial_no', 'date_of_birth', 'month_of_birth', 'date_of_marriage', 
                         'month_of_marriage', 'status', 'hh_expall_status', 'client_hl_id', 'building_no', 'hl_expall_status', 'sn', 'housestatus', 'isheadchanged', 'headname', 'fidx', 
                         'as', 'as_binned', 'fidh', 'cdoi', 'edt', 'occupation', 'catage1', 'marital', 'modern', 'traditional', 
                         'anym', 'respondentname', 'rtelephoneno', 'isnewrecord', 'recordupdatedcount', 'recordstatus', 
                         'schedule_id', 'year', 'id', 'v204', 'other_int_code', 'last_preg_no', 'previous_last_preg_no', 
                         'second_last_preg_no', 'third_last_preg_no', 'w_expall_status', 'w_status', 'twsi_id', 
                         'client_twsi_id', 'currently_widow', 'during_pregnancy', 'during_lactation', 'aware_of_haf', 
                         'twsi_expall_status', 'currently_attending_school', 'reason_for_not_attending_school', 
                         'new_born_alive_female', 'new_born_alive_male', 'new_born_alive_total', 'new_surviving_female', 
                         'new_surviving_male', 'new_surviving_total', 'isdeadmigrated', 'ever_born', 
                         'serial_no', 'identifcation_code', 'symptoms_pertaining_illness', 'sought_medical_care', 
                         'diagnosis_source', 'regular_treatment', 'regular_treatment_source', 'water_filteration', 
                         'is_toilet_shared', 'no_of_dwelling_rooms', 'current_mar_status', 'is_husband_living_with_you', 
                         'compensation_after_ster', 'received_compensation_after_ster', 'received_compensation_ster_rs', 
                         'residancial_status', 'householdstatus', 'currently_dead_or_out_migrated', 'usual_residance', 'relation_to_head', 'treatment_source', 'months_of_preg_first_anc', 'healthscheme_1', 'healthscheme_2', 'wt', 'sex', 'result_of_interview']

In [8]:
li_dif = [i for i in data.columns if i not in data.columns or i not in columns_to_be_removed]
len(li_dif)

100

Dropping columns which are no longer required

In [9]:
for column in columns_to_be_removed:
    data = data.drop([column], axis=1)

In [10]:
data.head()

,district,rural,stratum_code,age,marital_status,delivered_any_baby,born_alive_female,born_alive_male,born_alive_total,surviving_female,...,no_of_times_conceived,age_at_first_conception,is_injectable_contraceptive,health_prob_afters_fp_use,counselled_for_menstrual_hyg,aware_abt_haf,aware_abt_ort_ors,aware_abt_ort_ors_zinc,aware_abt_danger_signs_new_born,iscoveredbyhealthscheme
0,13,1,2,42,3,1,2,1,3,2,...,3,18,2,2,2,1,1,2,2,2.0
1,13,1,2,47,3,1,3,3,6,3,...,7,17,2,0,2,1,1,2,2,2.0
2,13,1,2,32,3,1,2,2,4,1,...,6,19,1,0,2,1,1,2,2,2.0
3,13,1,2,20,3,1,1,0,1,1,...,2,17,2,0,1,1,1,2,2,1.0
4,13,1,2,27,3,1,0,3,3,0,...,3,19,1,2,1,1,1,2,2,1.0

In [11]:
data

,district,rural,stratum_code,age,marital_status,delivered_any_baby,born_alive_female,born_alive_male,born_alive_total,surviving_female,...,no_of_times_conceived,age_at_first_conception,is_injectable_contraceptive,health_prob_afters_fp_use,counselled_for_menstrual_hyg,aware_abt_haf,aware_abt_ort_ors,aware_abt_ort_ors_zinc,aware_abt_danger_signs_new_born,iscoveredbyhealthscheme
0,13,1,2,42,3,1,2,1,3,2,...,3,18,2,2,2,1,1,2,2,2.0
1,13,1,2,47,3,1,3,3,6,3,...,7,17,2,0,2,1,1,2,2,2.0
2,13,1,2,32,3,1,2,2,4,1,...,6,19,1,0,2,1,1,2,2,2.0
3,13,1,2,20,3,1,1,0,1,1,...,2,17,2,0,1,1,1,2,2,1.0
4,13,1,2,27,3,1,0,3,3,0,...,3,19,1,2,1,1,1,2,2,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
941126,2,2,0,36,3,1,2,4,6,2,...,6,19,1,NaN,2,1,1,1,1,2.0
941127,2,2,0,39,3,1,2,1,3,2,...,3,15,2,NaN,2,1,1,2,1,2.0
941128,2,2,0,41,3,1,1,2,3,1,...,3,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
941129,2,2,0,38,3,1,1,1,2,1,...,2,22,2,NaN,2,1,1,2,1,2.0
941130,2,2,0,43,3,1,1,1,2,1,...,2,19,1,NaN,2,1,1,1,1,2.0

Printing uniques values in each column

In [5]:
for col in data.columns:
    print(col, data[col].unique())

w_id [   nan  2697.  2698. ... 47323. 47324. 47325.]
hl_id [nan 5300.0 5301.0 ... 77295.0 77297.0 77307.0]
client_w_id [  nan 1216. 1217. ... 6469. 6530. 5755.]
state [5]
district [13  6  5  1  4 11  3  7 10  9  2  8 12]
rural [1 2]
stratum_code [2 1 0]
psu_id [100426933 100426778 100427331 ... 100505164 100505183 100505140]
house_no [   4    8   11 ... 1204 1213 1214]
house_hold_no [ 1  2  3  4  5 10 12 14 16 18 19 20 23 25  6  8  7  9 11 13 17 24 26 30
 31 15 22 27 28 21 29 34 35 36 39 37 32 33]
year_of_intr [  nan 2010. 2011. 2012.]
month_of_intr [nan  7.  6. 11.  9.  8. 10.  1.  2. 12.  3.  5.  4.  0.]
date_of_intr [nan 26.0 27.0 28.0 1.0 2.0 3.0 4.0 5.0 6.0 8.0 7.0 9.0 10.0 11.0 12.0
 13.0 14.0 15.0 16.0 17.0 18.0 19.0 20.0 21.0 22.0 23.0 24.0 25.0 29.0
 30.0 31.0 '21' '31' '20' '22' '1' '2' '3' '4' '5' '6' '7' '8' '9' '10'
 '11' '12' '13' '14' '15' '16' '25' ' ' '17' '18' '19' '23' '27' '24' '29'
 '30' '26' '28']
result_of_interview [1 5 4 2 3 6 0]
other_int_code [nan 0.0 1.0 '0' 'widow' 'Widow' 'WIDOW' 'Widow women' 'SEPARATED'
 'SEPRATED' 'w' 'SEPSRATED' 6.0 'Vido' 'Widow Women'
 'Mental Status is not OK' 'She Is Seprated From Her' 'other'
 'Separated Woman' 'Divorced Women' 'Multiple Disability and'
 'Her husband are missed s' '                        0' ' ']
serial_no [ 1  2  4  6  8 12  7  5  3 11 10  9 19 13 14 15 17 20 18 16 22 27 26 24
 23 33 21 47 32 52 58 88 43 28 65 25 55 78 70]
identifcation_code [1 7 17 ... 4443 4624 4118]
age [ 42  47  32  20  27  29  26  30  40  39  38  28  22  19  34  25  23  37
  36  41  33  31  43  35  21  44  24  46  49  45  18  48  17  15  16 548]
marital_status [ 3  4  5  6  7  2  8 25  1]
delivered_any_baby [1.0 2.0 nan 8.0 3.0 '1' '2' ' ']
born_alive_female [2 3 1 0 4 6 5 7 8 9 11 10 nan '0' '6' '2' '1' '5' '3' '4' '9' '7' ' ' '8'
 12.0 15.0 32.0 20.0 13.0 47.0 21.0 54.0 41.0 31.0 14.0 35.0 30.0 22.0
 '22' 63.0 65.0 '32' '31' '13' '21' '61' '10' '12' '45']
born_alive_male [1 3 2 0 6 4 5 7 10 8 9 11 nan 12.0 '1' '2' '3' '5' '4' '0' '6' '7' '8'
 ' ' '12' 32.0 14.0 41.0 20.0 21.0 13.0 22.0 23.0 44.0 47.0 '45' 31.0 '10'
 '14' '9' '23']
born_alive_total [3 6 4 1 5 2 7 10 0 9 8 13 11 12 15 14 nan '1' '2' '7' '3' '5' '4' '8' '6'
 '10' '9' '0' '12' '11' ' ' '13' '15' 20.0 32.0 36.0 23.0 24.0 34.0 35.0
 16.0 50.0 59.0 43.0 45.0 53.0 33.0 17.0 22.0 21.0 42.0 46.0 47.0 52.0
 '24' '46' 63.0 66.0 '16' '33' '14' '32' '23' '22' '34' '36' '62' '47']
surviving_female [2 3 1 0 4 5 6 7 8 9 10 nan '0' '5' '2' '1' '3' '4' '6' '7' ' ' '8' 12.0
 '9' 21.0 11.0 '10']
surviving_male [0 3 2 1 4 6 5 9 7 8 nan '1' '2' '3' '4' '0' '5' '6' '7' ' ' 20.0 '8' '10'
 '9']
surviving_total [2 6 3 1 4 5 0 8 7 10 9 12 11 13 nan '1' '2' '6' '3' '4' '7' '5' '0' '10'
 '8' '9' '11' ' ' 14.0 '13' '23' 21.0 22.0 '14' '12']
mother_age_when_baby_was_born [18 17 19 20 21 22 16 0 23 26 24 25 27 32 15 28 29 34 30 31 14 35 33 13
 nan 40.0 39.0 36.0 38.0 41.0 37.0 42.0 43.0 46.0 44.0 45.0 47.0 48.0 3.0
 '19' '20' '17' '22' '18' '21' '23' '16' '24' '25' '35' '28' '14' '27'
 '31' '29' '30' '26' '32' '33' '15' '0' '34' '13' ' ' '38' '37' '36' '39'
 '41' 49.0 '44' '42' '40' '46' '12' 12.0 54.0 53.0 58.0 52.0 65.0 '47'
 '48' '43']
outcome_pregnancy [2.0 1.0 nan 21.0 '1' '2' ' ']
last_preg_no [nan 1.0 ' ' '1' 0.0]
previous_last_preg_no [nan 0.0 2.0 ' ' '0' '2' 1.0 '1' 4.0]
second_last_preg_no [nan 0.0 ' ' '0' '3' 3.0 1.0 2.0]
third_last_preg_no [nan 0.0 ' ' '0' 4.0 '4']
w_expall_status [nan 1.0 '1' ' ']
w_status [nan 1.0 '1' ' ']
twsi_id [   nan  2697.  2698. ... 46570. 48401. 48404.]
client_twsi_id [  nan  978.  979. ... 3948. 3949. 3950.]
currently_widow [nan 1.0 2.0 '2' '1' ' ' 0.0 '0']
is_tubectomy [1 0 2 nan '1' '2' ' ']
is_vasectomy [1 0 2 nan '1' '2' ' ']
is_copper_t [1 0 2 nan '1' '2' ' ']
is_pills_daily [1 0 2 nan '1' '2' ' ']
is_piils_weekly [1 0 2 nan '1' '2' ' ']
is_emergency_contraceptive [1 2 0 nan '1' '2' ' ']
is_condom [1 0 2 nan '1' '2' ' ']
is_moder_methods [2 0 1 nan '2' '1' ' ']
is_contraceptive [2 1 0 nan '2' '1' ' ']
is_periodic_abstinence [1 0 2 nan '1' '2' ' ']
is_withdrawal [1 0 2 nan '1' '2' ' ']
is_amenorrahoea [2 1 0 nan '1' '2' ' ']
is_other_traditional_method [1 2 0 nan '2' '1' ' ']
is_currently_pregnant [2 1 0 3 nan '1' '2' '3' ' ']
pregnant_month [0 2 6 4 8 1 7 5 3 9 nan '7' '0' '5' '8' '6' '9' '1' '4' '2' '3' ' ']
is_anc_registered [0 1 2 nan '1' '0' '2' ' ']
willing_to_get_pregnant [0 4 1 2 3 nan '1' '0' '4' '2' '3' ' ']
is_currently_menstruating [1 0 4 3 2 6 5 nan '1' '4' '2' '6' '3' '5' ' ']
when_you_bcome_mother_last_time [1 4 0 2 3 nan '1' '2' '0' '4' '3' ' ']
is_any_fp_methos_used [1 0 2 nan '0' '1' '2' ' ']
fp_method_used [7 1 0 14 4 5 9 6 3 13 11 8 12 10 2 nan '0' '1' '13' '7' '11' '4' '12' '5'
 '3' '6' '14' '8' '2' '9' ' ' '10']
source_of_treatment_for_fp [0 7 1 6 5 4 2 9 8 3 nan '0' '4' '1' '6' '9' '7' '5' '2' '3' ' ' '8' 17.0]
how_long_using_this_method [1 0 2 4 5 3 nan '0' '1' '4' '2' '3' '5' ' ']
method_obtain_last_time [16 0 17 2 1 14 5 6 4 11 20 3 7 15 10 9 18 13 19 12 8 nan '0' '17' '11'
 '20' '16' '6' '2' '15' '4' '1' '14' '10' '7' ' ' '3' '5' '19' '9' '12'
 '18' '8' '13']
reason_for_not_using_fp_method [0 1 17 5 3 16 2 12 7 14 6 4 10 13 11 15 9 8 nan '0' '17' '2' '12' '6' '5'
 '1' '8' '7' '4' '10' '16' '11' ' ' '3' '15' '13' '14' '9']
is_method_used_in_last_5_yrs [0 1 2 nan 5 '2' '0' '1' ' ']
method_type_used_in_last_5_yrs [0 4 5 11 3 7 12 6 9 13 8 10 14 nan 1.0 2.0 '0' '13' '7' '1' '11' '4' '12'
 '8' '5' '10' '3' '2' '6' ' ' '9' '14' '17']
reason_for_discontinuation [0 12 18 1 2 8 4 3 11 9 13 5 10 6 17 7 15 16 14 nan '0' '18' '1' '2' '17'
 '8' '11' '10' '12' '14' ' ' '3' '4' '13' '7' '5' '9' '6' '15' '16']
intend_to_use_fp_method_in_futur [0 1 2 nan '2' '0' '1' ' ' 20.0 '3']
when_method_is_going_to_use [0 1 4 3 2 nan '0' '4' '2' '1' '3' ' ' 12.0]
which_method_going_to_pefer_for_ [0 4 1 5 8 7 3 2 11 12 9 14 6 10 13 nan '0' '1' '7' '11' '4' '2' '5' '3'
 '6' ' ' '8' '12' '9' '10' '14' '13']
want_more_childern [0 3 1 2 nan '2' '1' '0' '3' ' ']
next_child_preference [0 2 3 1 nan 5.0 '0' '3' '1' '2' ' ' '5']
time_for_next_child [0 2 1 5 4 3 nan '0' '3' '5' '1' '4' '2' ' ']
anm_in_last_3_months [0 1 2 nan '2' '0' '1' ' ' '8']
during_pregnancy [nan 0.0 2.0 1.0 ' ' '1' '2']
during_lactation [nan 2.0 1.0 ' ' '1' '2']
aware_abt_rti [1 0 2 nan '1' '2' ' ']
aware_abt_hiv [1 0 2 nan '1' '2' ' ']
aware_of_haf [nan 1.0 2.0 3.0 '2' '1' '3' ' ']
aware_of_the_danger_signs [1 0 2 nan '1' '2' ' ' '-1']
twsi_expall_status [nan 1.0 '1' ' ']
fid [5.13011000e+11 5.13011001e+11 5.13011001e+11 ... 5.02245001e+11
 5.02249002e+11 5.02253004e+11]
hh_id [nan 505162005905.0 15833.0 ... 270838.0 270841.0 270851.0]
client_hh_id [nan ' ' 4842.0 ... 22986.0 17231.0 17356.0]
currently_dead_or_out_migrated [2.0 nan 1.0 '2' '1' ' ']
hh_serial_no [ 1.  2.  4.  6.  8. 12.  7.  5.  3. 11. 10.  9. 19. 13. 14. 15. nan 17.
 20. 16. 22. 27. 23. 26. 18. 24. 21. 47. 32. 52. 33. 58. 88. 43. 28. 65.
 25. 55. 78. 70.]
sex [ 2.  1. nan]
usual_residance [1.0 nan 2.0 '1' '2' ' ']
relation_to_head [ 1.  2.  4.  9.  3. 11.  5.  6.  8.  7. nan 10. 12. 13.]
member_identity [1.000e+00 7.000e+00 1.700e+01 ... 4.443e+03 4.624e+03 4.118e+03]
father_serial_no [nan 1.0 6.0 4.0 7.0 10.0 3.0 8.0 5.0 2.0 16.0 11.0 9.0 548.0 '1' '3' ' '
 '10' 13.0 '7' '2' '6' '5' '8' '4' '11' '9' 19.0 15.0 12.0 23.0 27.0 34.0
 42.0 53.0 56.0 67.0 73.0 80.0 85.0 91.0 94.0 14.0 40.0 52.0 18.0 20.0
 '27' '18' 21.0 24.0 17.0 26.0 22.0 '12' '34' '38' '31' '13']
mother_serial_no [nan 2.0 10.0 5.0 7.0 1.0 6.0 4.0 3.0 8.0 9.0 13.0 21.0 11.0 17.0 23.0
 12.0 '2' '1' '7' '4' '3' ' ' '6' '8' '9' '5' '12' '10' '11' '17' 20.0
 24.0 31.0 15.0 19.0 14.0 26.0 28.0 25.0 16.0 18.0 73.0 '27' '15' '25'
 '28' 27.0 '22' '21' '20' '13' '14' '16' '19' '58' '24' '18' '54']
date_of_birth [ 0. 15.  2. 11.  1.  5. 30. 31.  7. 21. 25. 10. 12. 22. 14.  8. 20.  3.
  4. 28.  9.  6. 29. 13. 19. 26. 16. 18. 17. 24. 23. nan 27.]
month_of_birth [ 0.  8.  9.  5.  3.  7. 10.  2.  6.  1. 11.  4. 12. nan 33. 14.]
year_of_birth [1969. 1964. 1979. 1991. 1984. 1982. 1985. 1981. 1971. 1972. 1973. 1983.
 1989. 1992. 1977. 1986. 1988. 1974. 1975. 1970. 1978. 1980. 1968. 1976.
 1990. 1967. 1987. 1965. 1962. 1966. 1993. 1963. 1994. 1996. 1995.   nan
 2011. 1946. 1999. 1957. 1959. 1961. 1998.    0. 1960. 1920. 1997. 1951.
 1950. 1956. 1944. 1919. 1934.]
religion [1.000e+00 2.000e+00 3.000e+00 7.000e+00 4.000e+00       nan 6.000e+00
 5.000e+00 1.985e+03]
social_group_code [ 3.  1.  2. nan]
date_of_marriage [ 0. 26. 30. 11. 15.  1.  2. 28. 19.  5. 21. 13. 25.  6. 18.  9. 23. 27.
  8. 20. 22. 16. 12.  7.  3.  4. 10. 29. 24. 31. 14. 17. nan 39.]

month_of_marriage [ 0.  2.  6. 12.  4.  1.  5.  3.  8. 11. 10.  7.  9. nan]
year_of_marriage [1983. 1985. 1997. 2009. 2005. 1999. 2004. 1995. 1986. 1979. 1992. 1993.
 1994. 2001. 2010. 2011. 1974. 2007. 1989. 2002. 1996. 2006. 1987. 2000.
 2008. 1988. 1990. 1984. 2003. 1982. 1975. 1980. 1978. 1991. 1981. 1998.
 1976. 1970. 1977. 1972. 1968. 1973. 1971. 1967.   nan 1963. 1966. 1969.
 1964.    0. 1965.   10.  991.  198. 1962. 1958.  984. 1961. 1959. 1957.
 1948. 1950. 1945. 1952. 1955. 1960. 1940. 1947.]
currently_attending_school [nan 1.0 3.0 2.0 1990.0 '1' '2' ' ' '3' 6.0]
reason_for_not_attending_school [nan 3.0 2.0 5.0 8.0 9.0 6.0 1.0 '5' ' ' '8' '3' '2' '1' '9']
highest_qualification [ 0.  3.  5.  6.  4.  1.  8.  7.  2. nan  9.]
occupation_status [10.  6.  3.  4.  7. 13. 11.  1. 16. 14.  5.  2.  9.  8. 15. 12. nan  0.]
disability_status [ 0.  7.  5.  1.  4.  2.  6. nan  3. 10.]
injury_treatment_type [ 0.  6.  2.  3.  7.  5.  4. nan  1.]
illness_type [ 0.  5.  6.  7.  3.  4.  1.  9. nan  2.  8.]
treatment_source [0 2 8 9 3 6 4 10 nan 5.0 13.0 99.0 11.0 7.0 1.0 '0' '8' '2' '3' '13' '6'
 ' ' '1' '9' '7' '10' '99' '5' '4' '11']
symptoms_pertaining_illness [ 4. 99.  5. 13.  1.  3.  2. 12. 11.  6.  7. 10.  8.  9. nan  0.]
sought_medical_care [1.0 nan 2.0 3.0 99.0 '2' '1' '3' ' ']
diagnosed_for [ 0. 99.  2.  7.  5. 10. 17. 31.  1. 19. 30. 18. 15.  9. 20.  4. 21. 16.
  3. 14. 25.  6. 27. 23. 12. nan 11.  8. 13. 22. 29. 24. 28. 26.]
diagnosis_source [0 3 8 9 99 6 11 10 13 1 2 nan 4.0 5.0 7.0 '0' '8' '3' '11' '9' '6' '13'
 '2' '4' ' ' '1' '10' '7' '99' '5']
regular_treatment [nan 2.0 1.0 3.0 0.0 '2' '1' '3' ' ']
regular_treatment_source [0 3 8 9 6 11 2 99 10 1 12 13 7 nan 4.0 5.0 '0' '8' '6' '3' '7' '9' '10'
 '2' '1' '4' '11' ' ' '13' '5' '99' '12']
chew [7.0 1.0 3.0 0.0 nan 2.0 5.0 4.0 6.0 '7' '2' '0' '5' '3' '4' ' ' '6' '1']
smoke [4.0 1.0 0.0 nan 3.0 2.0 '4' '1' '0' '2' '3' ' ']
alcohol [4.0 2.0 0.0 nan 1.0 3.0 '4' '0' '1' '2' '3' ' ']
status [1 0 nan 4.0 '1' '0' ' ' '4']
hh_expall_status [1 0 nan '1' '0' ' ']
client_hl_id [nan 3093.0 3096.0 ... 11469.0 11674.0 11832.0]
building_no [0.0 nan 3.0 ... 965.0 957.0 797.0]
house_status [ 1. nan  3.  2.  4.  0.]
house_structure [3.0 nan 1.0 2.0 4.0 '1' '2' '3' 'SIKANDER' '4' ' ']
owner_status [3.0 1.0 2.0 nan 2.93873587705572e-39 '1' '2' '3' ' ']
drinking_water_source [1.0 3.0 2.0 nan 9.0 4.0 8.0 6.0 5.0 7.0 '1' '2' '4' '3' '8' '9' ' ' '5'
 '6' '7']
is_water_filter [2.0 nan 1.0 '2' '1' ' ']
water_filteration [nan 6.0 5.0 1.0 4.0 2.0 7.0 3.0 8.0 '5' '6' '1' '2' ' ' '4' '3' '7' '8']
toilet_used [3.0 0.0 nan 7.0 2.0 1.0 4.0 6.0 8.0 9.0 5.0 '2' '3' '0' '1' '6' '4' '9'
 '8' '7' '5' ' ']
is_toilet_shared [2.0 nan 1.0 '1' '2' ' ']
household_have_electricity [1.0 2.0 nan '1' '2' ' ']
lighting_source [1.0 2.0 nan 3.0 6.0 5.0 4.0 '1' '2' '6' '3' ' ' '5' '4']
cooking_fuel [6.0 1.0 nan 2.0 3.0 0.0 4.0 5.0 7.0 8.0 9.0 '3' '1' '6' '5' '2' ' ' '0'
 '8' '4' '7' '9']
no_of_dwelling_rooms [1.0 nan 2.0 3.0 4.0 5.0 6.0 0.0 8.0 7.0 10.0 9.0 14.0 11.0 12.0 13.0 15.0
 '2' '3' '1' '4' '5' '7' '6' '8' '14' ' ' '11' '9' '10' '0' '12' 16 18 20]
kitchen_availability [2.0 4.0 3.0 nan 1.0 5.0 '1' '4' '2' '3' ' ' '5']
is_radio [1.0 2.0 nan '2' '1' ' ']
is_television [1.0 2.0 nan '1' '2' ' ']
is_computer [3.0 nan 2.0 1.0 '3' '2' '1' ' ']
is_telephone [2.0 nan 3.0 4.0 1.0 '2' '4' '3' '1' ' ']
is_washing_machine [2.0 nan 1.0 '2' '1' ' ']
is_refrigerator [1.0 2.0 nan '2' '1' ' ']
is_sewing_machine [1.0 2.0 nan '2' '1' ' ']
is_bicycle [2.0 1.0 nan '1' '2' ' ']
is_scooter [1.0 2.0 nan '2' '1' ' ']
is_car [2.0 nan 1.0 '2' '1' ' ']
is_tractor [2.0 nan 1.0 '2' '1' ' ']
is_water_pump [2.0 nan 1.0 '2' '1' ' ']
cart [4.0 nan 1.0 2.0 3.0 '4' '2' '3' '1' ' ']
land_possessed [6.0 nan 1.0 2.0 4.0 3.0 5.0 '6' '1' '2' '3' '4' '5' ' ']
hl_expall_status [1.0 nan 0.0 '1' '0' ' ']
sn ['W05UT_131201100040101' 'W05UT_131201100080102' 'W05UT_131201100110102'
 ... 'W05UT_022025200350502' 'W05UT_022024900170302'
 'W05UT_022025300350103']
ever_conceived [1 2 0 nan '1' '2' 'W05UT_052016200590502' ' ']
no_of_times_conceived [3 7 6 2 1 4 10 5 8 9 0 12 13 11 15 14 38 nan '2' '7' '3' '5' '1' '6' '8'
 '4' '9' '12' '10' '11' '13' '15' ' ' '14']
age_at_first_conception [18 17 19 20 21 22 16 23 26 24 25 0 27 32 15 29 31 28 33 35 30 13 14 34 12
 -1 nan 36.0 40.0 38.0 37.0 1.0 41.0 39.0 42.0 45.0 43.0 44.0 46.0 47.0
 48.0 3.0 '19' '20' '17' '22' '18' '21' '23' '16' '24' '25' '35' '28' '14'
 '27' '31' '29' '30' '26' '32' '33' '15' '13' ' ' '34' '38' '37' '36' '45'
 '39' '40' '43' '41' '12']
current_mar_status [3.0 nan 5.0 6.0 4.0 7.0 2.0 0.0 8.0 21.0 '3' '2' '6' '5' '4' ' ' '7']
is_injectable_contraceptive [2 1 0 nan '1' '2' ' ']
months_of_preg_first_anc [0 2 3 1 4 6 5 7 8 9 nan '4' '0' '3' '5' '2' '1' '9' '6' ' ' '7' '8']
is_husband_living_with_you [1 0 2 nan '1' '2' ' ']
compensation_after_ster [0 2 1 nan '0' '1' '2' ' ']
received_compensation_after_ster [0 1 2 3 nan '0' '1' '3' '2' ' ']
received_compensation_ster_rs [0 500 100 600 150 300 200 250 160 151 155 280 400 550 125 180 700 650 800
 135 195 245 1000 102 270 1 140 900 225 101 175 505 260 165 602 350 145
 130 120 170 410 750 162 240 185 360 210 190 111 450 112 174 230 144 158
 251 126 851 575 110 620 601 630 220 414 501 380 105 690 540 604 401 701
 nan 1400.0 114.0 2000.0 1100.0 60.0 90.0 50.0 70.0 1500.0 6000.0 75.0
 1200.0 80.0 40.0 1600.0 45.0 1300.0 35.0 606.0 2.0 60000.0 3000.0 2500.0
 85.0 1150.0 5000.0 12000.0 10000.0 751.0 1700.0 14000.0 1001.0 65.0 950.0
 95.0 255.0 68.0 6100.0 370.0 30.0 580.0 6003.0 122.0 480.0 5003.0 560.0
 2002.0 115.0 20.0 725.0 172.0 55.0 2503.0 1800.0 1165.0 2600.0 10.0
 15000.0 6001.0 5005.0 51.0 188.0 275.0 274.0 73.0 209 290.0 345 143 147
 '0' '600' '200' '300' '150' '250' '100' '400' '500' '700' '750' '610'
 '131' '135' ' ' '120' '230' '160' '1000' '140' '145' '151' '165' '350'
 '170' '550' '125' 156 249.0 265.0 651 215 565 325 154.0 3500.0 2003.0
 7000.0 '155' '800' '143' '110' '450' '1400' '330' '1200' '1100' '175'
 '90' '1500' '105' '2000' '190' '50' '1160' '65' '80' '180' '1300' '2500'
 '420' '75' '130' '6100' 72.0 93.0 8.0 2300.0 375.0 96.0 '650' '280' '55'
 '260' '275' '225' '60' '900' '3000' '1600' '245' '1250' '270' '2200'
 '158' '45' '40' '480' '2300' '115' '111' '70' '114' '30' '240' '255'
 186.0 1250.0 2100.0 235.0 '220' '276' '2' '525' '163' '960' '501' 206 152
 675 365 254 184.0 253 301 760]
health_prob_afters_fp_use [2 0 1 nan '0' '2' '1' ' ' 4.0 3.0 5.0 '5' '4' '3']
counselled_for_menstrual_hyg [2 1 0 nan '1' '2' ' ']
aware_abt_haf [1 0 2 nan 3.0 '1' '2' ' ']
aware_abt_ort_ors [1 0 2 nan 3.0 '1' '2' ' ']
aware_abt_ort_ors_zinc [2 0 1 nan '2' '1' ' ']
aware_abt_danger_signs_new_born [2 1 0 nan '1' '2' ' ']
new_born_alive_female [nan  2.]
new_born_alive_male [nan]
new_born_alive_total [nan]
new_surviving_female [nan]
new_surviving_male [nan]
new_surviving_total [nan]
isdeadmigrated [nan ' ']
residancial_status [ 1.  3.  4.  7. nan  6.  5.]
iscoveredbyhealthscheme [ 2.  1.  3. nan  0.]
healthscheme_1 [0 1 2 3 4 7 nan 6.0 5.0 '0' '2' '7' '4' '6' '1' '3' ' ' '5']
healthscheme_2 [0 nan 2.0 7.0 3.0 5.0 6.0 1.0 4 '0' ' ' '2' '3' '6' '1' '5' '4' '7']
housestatus [ 1. nan  0.  3.  2.]
householdstatus [ 1.  5.  4.  3.  6. nan  0.  2.]
isheadchanged [2.0 1.0 0.0 nan 4.0 '2' '0' '1' ' ']
headname [nan 'CHANDRAWATI' 'NASEEMA' ... 'NARENDRA ARYA' 'RESHMI NEGI'
 'PUSHPA BANDWAL']
ever_born [nan]
wt [22.379999   2.9100001 31.33             nan 26.24       5.3600001
  5.5700002  3.23       4.96       3.1199999  2.8299999  6.
  2.53       4.1999998  2.6700001  4.        13.23       1.7
  4.98       9.6499996  6.1500001  4.6700001  9.         2.46
  3.         5.6799998  2.6800001  4.1700001  2.2        2.
  3.03      11.43       3.4200001 10.06      19.790001   4.6799998
  2.8800001  3.6700001 19.389999 ]
fidx [           nan 4.96000000e+00 5.30005010e+10 ... 7.73080505e+11
 7.73090505e+11 7.73100505e+11]
as [       nan -1.2426891 -4.0417056 ...  6.2004695 12.118953   5.4066935]
as_binned [nan  3.  2.  4.  1.  5.]
fidh [5.13011000e+13 5.13011001e+13 5.13011001e+13 ... 5.02252004e+13
 5.02249002e+13 5.02253004e+13]
cdoi [nan '17/02/2012' '16/02/2012' '18/02/2012' '06/02/2012' '09/02/2012'
 '07/02/2012' '27/01/2012' '26/01/2012' '28/01/2012' '23/01/2012'
 '24/01/2012' '08/02/2012' '10/02/2012' '04/03/2012' '19/03/2012'
 '20/03/2012' '21/03/2012' '13/03/2012' '15/03/2012' '12/03/2012'
 '29/03/2012' '31/03/2012' '30/03/2012' '17/03/2012' '22/03/2012'
 '16/03/2012' '18/03/2012' '12/04/2012' '15/04/2012' '14/04/2012'
 '11/04/2012' '04/04/2012' '16/04/2012' '17/04/2012' '10/04/2012'
 '18/04/2012' '10/03/2012' '11/03/2012' '14/03/2012' '23/04/2012'
 '23/03/2012' '24/03/2012' '06/03/2012' '09/03/2012' '26/03/2012'
 '24/04/2012' '13/04/2012' '01/04/2012' '02/04/2012' '03/04/2012'
 '09/04/2012' '05/04/2012' '06/04/2012' '07/04/2012' '08/04/2012'
 '05/03/2012' '03/03/2012' '27/03/2012' '25/03/2012' '28/03/2012'
 '22/02/2012' '30/04/2012' '19/04/2012' '23/02/2012' '28/04/2012'
 '22/04/2012' '25/04/2012' '25/02/2012' '08/03/2012' '21/05/2012'
 '26/02/2012' '01/03/2012' '02/03/2012' '22/05/2012' '23/05/2012'
 '01-JAN-12' '21/04/2012' '20/04/2012' '26/04/2012' '24/05/2012'
 '27/04/2012' '04/02/2012' '05/02/2012' '19/02/2012' '28/02/2012'
 '29/02/2012' '29/04/2012' '07/03/2012' '20/05/2012' '25/05/2012'
 '27/02/2012' '21/02/2012' '11/02/2012' '02/02/2012' '03/02/2012'
 '14/02/2012' '20/02/2012' '24/02/2012' '15/02/2012' '25/01/2012'
 '13/02/2012' '21/01/2012' '22/01/2012' '01/01/2012' '02/01/2012'
 '20/01/2012' '31/12/2011' '12/02/2012' '30/12/2011' '13/01/2012'
 '14/01/2012' '19/01/2012' '18/01/2012' '17/01/2012' '16/01/2012'
 '31/01/2012' '01/02/2012' '28/12/2011' '27/12/2011' '16/06/2012'
 '01-NOV-12' '01-OCT-12' '01-DEC-12' '01-FEB-12' '01-MAR-12' '12-FEB-11'
 '01-APR-12' '03-APR-12' '01-MAY-12' '03-MAY-12' '01-SEP-12' '01-JUN-12'
 '04-JUN-12' '01-JUL-12' '01-AUG-12' '07-MAY-12' '03-JUL-12' '02-JUN-12'
 '02-NOV-12' '02-APR-12' '11-MAY-11' '11-JUN-11' '11-JUL-11' '12-JUL-11'
 '11-AUG-11' '11-SEP-11' '02-JAN-12' '02-MAR-12' '12-JAN-11' '12-NOV-11'
 '12-MAR-11' '02-FEB-12' '07-DEC-12' '06-JAN-12' '04-MAY-12' '03-JUN-12'
 '02-DEC-12' '12-MAY-11' '12-APR-11' '12-JUN-11' '12-SEP-11' '12-AUG-11'
 '02-MAY-12' '02-JUL-12' '02-AUG-12' '03-AUG-12' '02-SEP-12' '02-OCT-12'
 '01-NOV-11' '12-OCT-11' '12-DEC-11' '04-JAN-12' '01-APR-11' '03-FEB-12'
 '01-SEP-11' '11-JAN-11' '01-MAY-11' '01-JUN-11' '06-NOV-12' '11-OCT-11'
 '11-DEC-11' '11-NOV-11' '03-SEP-12' '04-SEP-12' '03-JAN-12' '07-JUN-12'
 '04/01/2012' '03/01/2012' '06/01/2012' '05/01/2012' '07/01/2012'
 '08/01/2012' '04-AUG-12' '11/01/2012' '10/01/2012' '01-DEC-11'
 '12/01/2012' '15/01/2012' '30/01/2012' '29/01/2012' '09/01/2012'
 '29/12/2011' '02-DEC-11' '03-DEC-11' '04-DEC-11' '05-DEC-11' '09-DEC-11'
 '06-DEC-11' '08-DEC-11' '08-JAN-11' '10-DEC-11' '07-DEC-11' '05-JAN-12'
 '06-FEB-12' '04-JAN-11' '06-MAY-12' '05-MAR-12' '07-JAN-12' '08-JAN-12'
 '09-JAN-12' '10-JAN-11' '11-JAN-12' '11-MAR-12' '07-FEB-12' '10-JAN-12'
 '10-MAR-12' '10-FEB-12' '12-MAY-12' '12-JAN-12' '01-JAN-11' '09-APR-12'
 '04-MAR-12' '06-MAR-12' '12-MAR-12' '02-NOV-11' '10-NOV-11' '05-FEB-12'
 '04-FEB-12' '07-MAR-12' '08-FEB-12' '11-FEB-12' '09-FEB-12' '12-FEB-12'
 '50516200590502' '06-NOV-11' '05-NOV-11' '07-NOV-11' '08-NOV-11'
 '09-NOV-11' '03-NOV-11' '03-MAR-12' '10-APR-12' '06-APR-12' '03-JAN-11'
 '09-FEB-11' '12-APR-12' '05-APR-12' '07-APR-12' '04-APR-12' '10-MAY-12'
 '05-MAY-12' '08-MAY-12' '09-MAY-12' '11-MAY-12' '03-DEC-12' '01-JUL-11'
 '11-FEB-11' '11-MAR-11' '10-AUG-11' '07-OCT-12' '10-OCT-11' '01-FEB-11'
 '01-MAR-11' '02-SEP-11' '04-OCT-12' '02-OCT-11' '03-OCT-12' '01-AUG-11'
 '02-AUG-11' '02-JUL-11' '05-AUG-12' '08-APR-12' '08-MAR-12' '09-MAR-12'
 '11-APR-11' '01-OCT-11' '10-MAR-11' '05-JAN-11' '08-OCT-12' '02-MAR-11'
 '11-OCT-12' '02-FEB-11' '07-JUL-12' '11-APR-12' '06-JAN-11' '07-JAN-11'
 '08-AUG-12' '09-AUG-12' '07-AUG-12' '09-JAN-11' '06-JUL-11' '07-AUG-11'
 '06-FEB-11' '08-FEB-11' '04-MAR-11' '28/03/2011' ' ' '01/05/2012'
 '02/05/2012' '05/05/2012' '06/05/2012' '04/05/2012' '22/03/2011'
 '14/09/2011' '15/09/2011' '16/09/2011' '20/09/2011' '19/09/2011'
 '18/09/2011' '25/12/2011' '21/12/2011' '23/12/2011' '24/12/2011'
 '20/12/2011' '22/12/2011' '26/12/2011' '19/12/2011' '29/11/2011'
 '09-MAR-11' '02-APR-11' '05-APR-11' '07-APR-11' '08-SEP-11' '03-MAR-11'
 '05-FEB-11' '06-JUL-12' '08-APR-11' '05-JUN-12' '09-APR-11' '10-APR-11'
 '05-DEC-12' '07-MAR-11' '08-MAR-11' '10-JUL-12' '06-MAR-11' '11-JUN-12'
 '03-FEB-11']

edt [nan 41490.523240740695 41490.524375 ... 41093.5888888889 41093.6402777778
 41093.6395833333]
occupation [nan]
catage1 [nan]
marital [nan]
modern [nan]
traditional [nan]
anym [nan]
respondentname [nan ' ']
rtelephoneno [nan ' ']
isnewrecord [nan 1.0 0.0 '1' ' ']
recordupdatedcount [ 1.  2.  3. nan  4.  0.  6.  5.  7.  9.  8.]
recordstatus [ 2. nan  1.]
schedule_id [2]
year [3 2 1]
id [1490121 1490122 1490123 ... 9023062 9023063 9023064]
v204 [     nan 9128099.]

List of some columns added again

In [15]:
tobeaddedagain = ['is_washing_machine', 'is_refrigerator', 'is_sewing_machine', 'is_bicycle', 'is_scooter', 'is_car', 'is_tractor', 'is_water_pump', 'cart']

Cleaning all columns, replacing irrelavant with NaN, filling NaN values and converting them to integer

In [16]:
data[["marital_status", "chew"]] = data[["marital_status", "chew"]].replace([' ', 25], 8).fillna(8).astype(int)

In [17]:
data["delivered_any_baby"] = data["delivered_any_baby"].replace([' ', 8, 3], -1).fillna(-1).astype(int)

In [18]:
data[["born_alive_female", "born_alive_male", "born_alive_total", "surviving_female", "surviving_male", "surviving_total", "no_of_times_conceived"]] = data[["born_alive_female", "born_alive_male", "born_alive_total", "surviving_female", "surviving_male", "surviving_total", "no_of_times_conceived"]].replace([' '], -1).fillna(-1).astype(int)

In [19]:
data[["mother_age_when_baby_was_born", "how_long_using_this_method", "method_obtain_last_time"]] = data[["mother_age_when_baby_was_born", "how_long_using_this_method", "method_obtain_last_time"]].replace([' ', 0, '0'], -1).fillna(-1).astype(int)

In [20]:
data[["is_tubectomy", "is_vasectomy", "is_copper_t", "is_pills_daily", "is_piils_weekly", "is_emergency_contraceptive", "is_condom", "is_moder_methods", "is_contraceptive", "is_periodic_abstinence", "is_withdrawal", "is_amenorrahoea", "is_other_traditional_method", "house_status", "is_injectable_contraceptive"]] = data[["is_tubectomy", "is_vasectomy", "is_copper_t", "is_pills_daily", "is_piils_weekly", "is_emergency_contraceptive", "is_condom", "is_moder_methods", "is_contraceptive", "is_periodic_abstinence", "is_withdrawal", "is_amenorrahoea", "is_other_traditional_method", "house_status", "is_injectable_contraceptive"]].replace([' ', 0], -1).fillna(-1).astype(int)

In [21]:
data[["is_currently_pregnant", "pregnant_month", "is_anc_registered", "willing_to_get_pregnant", "when_you_bcome_mother_last_time", "reason_for_not_using_fp_method", "reason_for_discontinuation", "want_more_childern", "time_for_next_child"]] = data[["is_currently_pregnant", "pregnant_month", "is_anc_registered", "willing_to_get_pregnant", "when_you_bcome_mother_last_time", "reason_for_not_using_fp_method", "reason_for_discontinuation", "want_more_childern", "time_for_next_child"]].replace([' ', 0, '0'], -1).fillna(-1).astype(int)

In [22]:
data["is_currently_menstruating"] = data["is_currently_menstruating"].replace([' ', 0], 7).fillna(7).astype(int)

In [23]:
data["is_any_fp_methos_used"] = data["is_any_fp_methos_used"].replace([' ', 0, '0'], 3).fillna(3).astype(int)

In [24]:
data["fp_method_used"] = data["fp_method_used"].replace([' ', 0, '0', 14, '14'], -1).fillna(-1).astype(int)

In [25]:
data["source_of_treatment_for_fp"] = data["source_of_treatment_for_fp"].replace([' ', 0, '0', 17], -1).fillna(-1).astype(int)

In [26]:
data["is_method_used_in_last_5_yrs"] = data["is_method_used_in_last_5_yrs"].replace([' ', 0, '0', 5], -1).fillna(-1).astype(int)

In [27]:
data[["method_type_used_in_last_5_yrs", "which_method_going_to_pefer_for_"]] = data[["method_type_used_in_last_5_yrs", "which_method_going_to_pefer_for_"]].replace([' ', 0, '0', 14, '14', '17'], -1).fillna(-1).astype(int)

In [28]:
data["intend_to_use_fp_method_in_futur"] = data["intend_to_use_fp_method_in_futur"].replace([' ', 0, '0', '3', 20, '17'], -1).fillna(-1).astype(int)

In [29]:
data["when_method_is_going_to_use"] = data["when_method_is_going_to_use"].replace([' ', 0, '0', 12], -1).fillna(-1).astype(int)

In [30]:
data["next_child_preference"] = data["next_child_preference"].replace([' ', 0, '0', 5, '5'], -1).fillna(-1).astype(int)

In [31]:
data["anm_in_last_3_months"] = data["anm_in_last_3_months"].replace([' ', 0, '0', '8'], 3).fillna(3).astype(int)

In [32]:
data[["aware_abt_rti", "aware_abt_hiv", "aware_of_the_danger_signs"]] = data[["aware_abt_rti", "aware_abt_hiv", "aware_of_the_danger_signs"]].replace([' ', 0, '0', '-1'], 2).fillna(2).astype(int)

In [33]:
data[["year_of_birth", "religion", "social_group_code"]] = data[["year_of_birth", "religion", "social_group_code"]].replace([2011, 1985], 0).fillna(0).astype(int)

In [34]:
data["year_of_marriage"] = data["year_of_marriage"].replace([10, 991, 198, 984], 0).fillna(0).astype(int)

In [35]:
data[["highest_qualification", "injury_treatment_type", "illness_type", "diagnosed_for"]] = data[["highest_qualification", "injury_treatment_type", "illness_type", "diagnosed_for"]].fillna(-1).astype(int)

In [36]:
data["occupation_status"] = data["occupation_status"].replace([0], -1).fillna(-1).astype(int)

In [37]:
data["disability_status"] = data["disability_status"].replace([10], -1).fillna(-1).astype(int)

In [38]:
data[["smoke", "alcohol"]] = data[["smoke", "alcohol"]].replace([' '], 5).fillna(5).astype(int)

In [39]:
data["house_structure"] = data["house_structure"].replace([' ', 'SIKANDER'], 4).fillna(4).astype(int)

In [40]:
data["owner_status"] = data["owner_status"].replace([' '], 3).fillna(3).astype(int)
data["owner_status"] = data["owner_status"].replace([0], 3).fillna(3).astype(int)

In [41]:
data[["drinking_water_source", "cooking_fuel"]] = data[["drinking_water_source", "cooking_fuel"]].replace([' '], 9).fillna(9).astype(int)

In [42]:
data[["is_water_filter", "household_have_electricity", "is_radio", "is_television"]] = data[["is_water_filter", "household_have_electricity", "is_radio", "is_television"]].replace([' '], 2).fillna(2).astype(int)

In [43]:
data["toilet_used"] = data["toilet_used"].replace([' '], 0).fillna(0).astype(int)

In [44]:
data["lighting_source"] = data["lighting_source"].replace([' '], 6).fillna(6).astype(int)

In [45]:
data["kitchen_availability"] = data["kitchen_availability"].replace([' '], 2).fillna(2).astype(int)

In [46]:
data["is_computer"] = data["is_computer"].replace([' '], 3).fillna(3).astype(int)

In [47]:
data["is_telephone"] = data["is_telephone"].replace([' '], 4).fillna(4).astype(int)

In [48]:
data["land_possessed"] = data["land_possessed"].replace([' '], 6).fillna(6).astype(int)

In [49]:
data["ever_conceived"] = data["ever_conceived"].replace([' ', 0, 'W05UT_052016200590502'], 2).fillna(2).astype(int)

In [50]:
data["age_at_first_conception"] = data["age_at_first_conception"].replace([' ', 0, 1, 3], -1).fillna(-1).astype(int)

In [51]:
data["health_prob_afters_fp_use"] = data["health_prob_afters_fp_use"].replace([' ', 0, '0', 3, '3', 4, '4', 5, '5'], -1).fillna(-1).astype(int)

In [52]:
data["counselled_for_menstrual_hyg"] = data["counselled_for_menstrual_hyg"].replace([' ', 0], 2).fillna(2).astype(int)

In [53]:
data[["aware_abt_haf", "aware_abt_ort_ors", "aware_abt_ort_ors_zinc", "aware_abt_danger_signs_new_born"]] = data[["aware_abt_haf", "aware_abt_ort_ors", "aware_abt_ort_ors_zinc", "aware_abt_danger_signs_new_born"]].replace([' ', 0, 3], 2).fillna(2).astype(int)

In [54]:
data["iscoveredbyhealthscheme"] = data["iscoveredbyhealthscheme"].replace([0], 3).fillna(3).astype(int)

In [55]:
data[["is_washing_machine", "is_refrigerator", "is_sewing_machine", "is_bicycle", "is_scooter", "is_car", "is_tractor", "is_water_pump"]] = data[["is_washing_machine", "is_refrigerator", "is_sewing_machine", "is_bicycle", "is_scooter", "is_car", "is_tractor", "is_water_pump"]].replace([' '], 2).fillna(2).astype(int)

In [59]:
data["cart"] = data["cart"].replace([' '], 4).fillna(4).astype(int)

Writing cleaned to another CSV, to directly use for other operations

In [61]:
data.to_csv('clean5.csv')

In [62]:
data

,district,rural,stratum_code,age,marital_status,delivered_any_baby,born_alive_female,born_alive_male,born_alive_total,surviving_female,...,no_of_times_conceived,age_at_first_conception,is_injectable_contraceptive,health_prob_afters_fp_use,counselled_for_menstrual_hyg,aware_abt_haf,aware_abt_ort_ors,aware_abt_ort_ors_zinc,aware_abt_danger_signs_new_born,iscoveredbyhealthscheme
0,13,1,2,42,3,1,2,1,3,2,...,3,18,2,2,2,1,1,2,2,2
1,13,1,2,47,3,1,3,3,6,3,...,7,17,2,-1,2,1,1,2,2,2
2,13,1,2,32,3,1,2,2,4,1,...,6,19,1,-1,2,1,1,2,2,2
3,13,1,2,20,3,1,1,0,1,1,...,2,17,2,-1,1,1,1,2,2,1
4,13,1,2,27,3,1,0,3,3,0,...,3,19,1,2,1,1,1,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
941126,2,2,0,36,3,1,2,4,6,2,...,6,19,1,-1,2,1,1,1,1,2
941127,2,2,0,39,3,1,2,1,3,2,...,3,15,2,-1,2,1,1,2,1,2
941128,2,2,0,41,3,1,1,2,3,1,...,3,22,-1,-1,2,2,2,2,2,2
941129,2,2,0,38,3,1,1,1,2,1,...,2,22,2,-1,2,1,1,2,1,2
941130,2,2,0,43,3,1,1,1,2,1,...,2,19,1,-1,2,1,1,1,1,2